.git
.vscode
.dockerignore
.gitignore
config
build
node_modules
docker-compose.yaml
Dockerfile
dist
dest
node_modules
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.env.*
.dockerignore
Dockerfile
README.md
.gitignore
.prettierrc
*.md
.mnote